@charset "utf-8";

/*==============================================================

	Name:style.css
	Version:1.0.0

================================================================

	Table of contents

		01. Common Styles Initials
		02. Header Style
		03. Login with social
		04. Login Style 1
		05. Login Style 2
		06. Login Style 3
		07. Login Style 4
		08. Login Style 5
		09. Login Style 6
		10. Login Style 7

==============================================================*/

/*==============================================================
	01. Common Styles Initials
==============================================================*/
html {
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="submit"] {
	-webkit-appearance: none;
}
*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'gidoleregular';
	font-weight: 400;
	width: 100%;
	min-height: 100%;
	color: #222222;
	width: 100%;
	height: 100%;
	font-size: 18px;
}
a {
	outline: none;
	text-decoration: none;
	color: #555;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
img {
	border: 0;
}
input, textarea, select {
	outline: none;
	resize: none;
	font-family: 'gidoleregular';
}
a, input, button {
	outline: none !important;
}
 button::-moz-focus-inner {
 border: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: 'BloggerSans';
}
img {
	border: 0;
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0 0 15px 0;
	padding: 0;
}
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 5px;
}
::-webkit-scrollbar-track {
	background: rgba(46,56,71,.5);
	border-radius: 0;
}
::-webkit-scrollbar-thumb{
	cursor: pointer;
	border-radius: 0px;
	background: rgba(29,37,71,1);
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
.container{
	max-width: 1700px;
	width: 100%;
}

.height-100-percentage{height: 100%;}
.width-100-percentage{width: 100%;}
.padding-top-15px{padding-top: 15px;}
.padding-10px{padding: 10px;}
.padding-30px{padding: 30px;}
.padding-40px{padding: 40px;}
.margin-bottom-30px{margin-bottom: 30px;}
.max-width-400{max-width: 400px;}
.margin-0-auto{margin: 0 auto;}

/*==============================================================
	02. Header Style
==============================================================*/
/*.pre-loader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 14;
	background-position: center center;
	background: url(../images/pre-loader.svg) rgba(0,0,0,0.9) no-repeat;
}*/
.header-wrap{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 123;
	margin: 0 auto;
	padding: 10px 30px;
	background: #ffffff;
	-webkit-box-shadow: 0px 4px 22px 3px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0px 4px 22px 3px rgba(0, 0, 0, .06);
	box-shadow: 0px 4px 22px 3px rgba(0, 0, 0, .06);
}
.header-wrap .logo{
	float: left;
}
.header-wrap .logo a{
	display: inline-block;
}
.header-wrap .logo a img{
	width: 180px;
	height: 65px;
}
.header-wrap .menu{
	float: right;
	padding-top: 7px;
}
.header-wrap .menu .dropdown-toggle{
	display: inline-block;
	border: 0;
	width: 50px;
	height: 50px;
	color: #ffffff;
	/*background: #0099ff;*/
	background: #284F81;
	text-align: center;
	position: relative;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.header-wrap .menu .dropdown-toggle:hover, .header-wrap .menu .show .dropdown-toggle{
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
}
.menu-icon{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.header-wrap .menu .dropdown-toggle:after{
	display: none;
}
/* menu animation start */
.hamburgler {
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.show .menu-icon {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.bun,
.meat {
	display: block;
	width: 100%;
	background: #ffffff;
	height: 17%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 50px;
}
.bun.bottom{
	height: 17%;
}
.show .top {
	height: 38%;
	width: 17%;
	margin-left: 40%;
	border-radius: 50px 50px 0 0;
}
.show .bun.bottom {
	height: 38%;
	width: 17%;
	margin-left: 40%;
	border-radius: 0 0 50px 50px;
}
.meat {
	margin: 20% 0;
}
.show .meat {
	margin: 2% 0;
}
.header-wrap .menu .dropdown-menu{
	border: 0;
	padding: 0;
	margin-top: 10px;
	min-width: 190px;
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
}
.header-wrap .menu .dropdown-menu:before{
	content: "";
	position: absolute;
	top: -10px;
	right: 10px;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffffff;
	border-left: 10px solid transparent;
}
.header-wrap .menu .dropdown-menu .dropdown-item{
	color: #616161;
	padding: 10px 20px;
	font-size: 18px;
	font-family: 'gidoleregular';
	letter-spacing: 0.050em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.header-wrap .menu .dropdown-menu .dropdown-item:hover{
	color: #284F81;
}
.header-wrap .menu .dropdown-menu .dropdown-item.selected{
	color: #ffffff;
	background: #284F81;
}
.header-wrap .menu .dropdown-menu .dropdown-item.active, .header-wrap .menu .dropdown-menu .dropdown-item:active{
	color: #ffffff;
}
/* menu animation end */

.cd-main {
	height: 100vh;
	overflow: hidden;
}
.cd-section {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0s 0.5s;
	-moz-transition: -moz-transform 0s 0.5s;
	transition: transform 0s 0.5s;
}
.cd-section.visible {
	/* this is the visible/selected section */
	position: relative;
	z-index: 2;
	transform: translateX(0);
	transition: transform 0.5s 0s;
}
.cd-content{
	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding: 150px 15px 20px;
}
#cd-loading-bar {
	position: fixed;
	z-index: 2;
	top: 0 !important;
	left: 0px;
	width: 4px;
	background: #ffffff;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
.loading{
	visibility: visible !important;
}

/*==============================================================
	03. Login with social
==============================================================*/
.login-with{
	color: #ffffff;
	text-align: center;
}
.login-with h3{
	font-size: 24px;
	font-weight: 400;
	font-family: 'gidoleregular';
	margin-bottom: 15px;
}
.social-login-btn{}
.social-login-btn li{
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}
.social-login-btn li a{
	display: block;
	background: #ffffff;
	color: #222222;
	padding: 5px 30px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
.social-login-btn li.facebook-btn a i{color: #405499;}
.social-login-btn li.twitter-btn a i{color: #55acee;}
.social-login-btn li.google-btn a img{
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
}

.login-form-slider{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.login-form-slider .slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.login-form-slider .slide.login-slide{display: block;}
.login-form-slider .slide.signup-slide{}
.login-form-slider .slide.forgot-password-slide{}

/*==============================================================
	04. Login Style 1
==============================================================*/

.index .style1{
	background: url(../images/banner3.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.style1{}
.style1 .login-box{
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	background: url(../images/style1img.jpg) #ffffff no-repeat;
	height: 700px;
	background-size: cover;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.style1 .login-box h1.title{
	position: absolute;
	left: 45px;
	top: 27%;
	color: #3c4d6d;
	font-size: 65px;
	font-family: 'gidoleregular';
}
.style1 .login-box h3.subtitle{
	position: absolute;
	left: 50px;
	top: 37%;
	font-weight: 400;
	color: #222222;
	font-size: 25px;
}
.style1 .login-form-box{
	background: #ffffff no-repeat;
	background-size: cover;
	background-position: center bottom;
	width: 400px;
	height: 600px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	overflow: hidden;
	right: -55px;
	-webkit-box-shadow: 20px 22px 58px 3px rgba(0, 0, 0, .50);
	-moz-box-shadow: 20px 22px 58px 3px rgba(0, 0, 0, .50);
	box-shadow: 20px 22px 58px 3px rgba(0, 0, 0, .50);
}
.login-style1{
	background: url(../images/style2img.jpg) no-repeat;
	padding: 50px 50px 10px;
	color: #ffffff;
}
.login-style1 .label{
	letter-spacing: 0.050em;
	font-weight: 400;
	margin-bottom: 0;
	padding-left: 15px;
}
.login-style1 .form-control{
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height: 45px;
	background: rgba(255,255,255,0.5);
	border: 0;
	box-shadow: none;
	color: #222222;
	font-size: 20px;
	padding: 0 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.login-style1 .form-control:focus{
	background: rgba(255,255,255,1);
}
.login-style1 .custom-control{
	margin-left: 15px;
}
.login-style1 .submit{
	display: block;
	width: 100%;
	height: 45px;
	color: #ffffff;
	background: -webkit-gradient(linear, left top, right top, from(#17ead9), to(#6078ea));
	background: -webkit-linear-gradient(top, #17ead9, #6078ea);
	background: -moz-linear-gradient(top, #17ead9, #6078ea);
	background: -o-linear-gradient(top, #17ead9, #6078ea);
	background: -ms-linear-gradient(top, #17ead9, #6078ea);
	background: linear-gradient(top, #17ead9, #6078ea);
	background-color: #17ead9;
	border: 0;
	letter-spacing: 0.1em;
	font-style: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	cursor: pointer;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}
.login-style1 a{
	color: #ffffff;
}
.login-style1 .sign-up-txt{
	font-size: 18px;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 0.050em;
	padding-bottom: 15px;
	padding-top: 15px;
}
.login-style1 .sign-up-txt a{
	color: #01e3f7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.login-style1 .sign-up-txt a:hover{
	color: #ffffff;
}
.login-style1 .forgot-txt{
	padding-bottom: 30px;
}
.login-style1 .forgot-txt a{
	color: rgba(255,255,255,0.8);
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.050em;
	border-bottom: 1px dashed rgba(255,255,255,0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.login-style1 .forgot-txt a:hover{
	color: #ffffff;
}

.login-style1 .social-login-btn li a{
	width: 45px;
	height: 45px;
	padding: 0;
	text-align: center;
	line-height: 41px;
	font-size: 20px;
}
.login-style1 .social-login-btn li.facebook-btn a{
	background: #6582e4;
}
.login-style1 .social-login-btn li.twitter-btn a{
	background: #55acee;
}
.login-style1 .social-login-btn li a i{
	line-height: 50px;
	color: #ffffff;
}


/*==============================================================
	05. Login Style 2
==============================================================*/
.index2 .style2{
	background: url(../images/banner4.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.style2{}
.style2 .login-box{
	max-width: 400px;
	margin: 0 auto;
	width: 100%;
	background: #ffffff;
	height: 500px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	-moz-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
}
.style2 .login-box:before{
	content: "";
	width: 90%;
	height: 10px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -10px;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	-webkit-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	-moz-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
}
.style2 .login-box:after{
	content: "";
	width: 80%;
	height: 10px;
	background: rgba(255,255,255,0.4);
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -20px;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}
.style2 .login-form-slider .slide{
	padding: 40px;
}
.style2 h3{
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	color: #9b5c60;
	letter-spacing: 0.020em;
	margin-bottom: 30px;
	font-family: 'Nunito', sans-serif;
}
.style2 .form-group{
	position: relative;
}
.style2 .form-control{
	height: 50px;
	padding-left: 40px;
	border: 0;
	color: #633e62;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.style2 .forgot-password-field .form-control{
	padding-right: 70px;
}
.style2 .forgot-password-field .forgot-password-click{
	position: absolute;
	right: 10px;
	top: 15px;
	color: #d3674a;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	letter-spacing: 0.030em;
	font-weight: 600;
}
.style2 .form-control::-webkit-input-placeholder {
	opacity: 1;
	color: #c2c1bf;
}
.style2 .form-control::-moz-placeholder {
	opacity: 1;
	color: #c2c1bf;
}
.style2 .form-control:-ms-input-placeholder {
	opacity: 1;
	color: #c2c1bf;
}
.style2 .form-control:focus{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(92, 58, 93, .3);
	-moz-box-shadow: 0px 0px 0px 2px rgba(92, 58, 93, .3);
	box-shadow: 0px 0px 0px 2px rgba(92, 58, 93, .3);
}
.style2 .field-icon{
	position: absolute;
	font-size: 20px;
	left: 10px;
	top: 10px;
	color: #633e62;
	text-shadow: 3px 3px 0px rgba(0, 0, 0, .2);
}
.style2 .sign-in-btn:before{
	content: "";
	position: absolute;
	left: -40px;
	top: 50%;
	border-top: 2px dashed #d2c4cb;
	width: 125%;
	text-align: center;
}
.style2 .sign-in-btn .submit{
	position: relative;
	margin: 0 auto;
	display: block;
	width: 160px;
	height: 50px;
	color: #ffffff;
	background: -moz-linear-gradient(11deg, rgba(140,81,123,1) 0%, rgba(54,40,69,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(140,81,123,1)), color-stop(100%, rgba(54,40,69,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(11deg, rgba(140,81,123,1) 0%, rgba(54,40,69,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(11deg, rgba(140,81,123,1) 0%, rgba(54,40,69,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(11deg, rgba(140,81,123,1) 0%, rgba(54,40,69,1) 100%); /* ie10+ */
	background: linear-gradient(79deg, rgba(140,81,123,1) 0%, rgba(54,40,69,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c517b', endColorstr='#362845',GradientType=1 ); /* ie6-9 */
	border: 0;
	letter-spacing: 0.040em;
	font-size: 16px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	-webkit-box-shadow: 3px 8px 21px rgba(92, 58, 93, .35);
	-moz-box-shadow: 3px 8px 21px rgba(92, 58, 93, .35);
	box-shadow: 3px 8px 21px rgba(92, 58, 93, .35);
}
.style2 .sign-up-txt{
	padding-top: 40px;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	color: #868582;
	font-size: 17px;
}
.style2 .sign-up-txt a{
	color: #6d3346;
	font-size: 18px;
	display: inline-block;
	padding-left: 6px;
	font-weight: 600;
}
.style2 .signup-slide .sign-up-txt{
	padding-top: 10px;
}
/*==============================================================
	06. Login Style 3
==============================================================*/
.index3 .style3{
	background: url(../images/banner2.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.style3 .login-box{
	max-width: 370px;
	margin: 0 auto;
	width: 100%;
	color: rgba(255,255,255,0.7);
	background: #09406a;
	background-position: center top;
	height: 600px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	-webkit-box-shadow: 0px 13px 84px 7px rgba(255, 255, 255, .30);
	-moz-box-shadow: 0px 13px 84px 7px rgba(255, 255, 255, .30);
	box-shadow: 0px 13px 84px 7px rgba(255, 255, 255, .30);
}
.style3 .login-box a{
	color: rgba(255,255,255,1);
}
.style3 .login-form-slider .slide{
	padding: 270px 30px 20px;
	background: url(../images/style3img.jpg) no-repeat #09406a;
	background-position: center top;
}
.style3 .form-group{
	position: relative;
}
.style3 .form-group .form-control {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	height: 52px;
	font-size: 18px;
	color: rgba(255,255,255,0.8);
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	z-index: 123;
	position: relative;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0e2f62), to(#0e2f62)), -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#b3b3b3));
	background-image: -webkit-linear-gradient(#0e2f62, #0e2f62), -webkit-linear-gradient(#b3b3b3, #b3b3b3);
	background-image: -o-linear-gradient(#0e2f62, #0e2f62), -o-linear-gradient(#b3b3b3, #b3b3b3);
	background-image: linear-gradient(#0e2f62, #0e2f62), linear-gradient(#b3b3b3, #b3b3b3);
	-webkit-background-size: 0 2px, 100% 1px;
	background-size: 0 2px, 100% 1px;
	background-repeat: no-repeat;
	background-position: center bottom, center -webkit-calc(100% - 1px);
	background-position: center bottom, center calc(100% - 1px);
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: background 0s ease-out;
	-o-transition: background 0s ease-out;
	transition: background 0s ease-out;
}
.style3 .form-group.is-focus .form-control{
	outline: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#81cdf5), to(#81cdf5)), -webkit-gradient(linear, left top, left bottom, from(#81cdf5), to(#81cdf5));
	background-image: -webkit-linear-gradient(#81cdf5, #81cdf5), -webkit-linear-gradient(#81cdf5, #81cdf5);
	background-image: -o-linear-gradient(#81cdf5, #81cdf5), -o-linear-gradient(#81cdf5, #81cdf5);
	background-image: linear-gradient(#81cdf5, #81cdf5), linear-gradient(#81cdf5, #81cdf5);
	-webkit-background-size: 100% 2px, 100% 1px;
	background-size: 100% 2px, 100% 1px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.style3 .form-group.is-focus .label {
	top: 0;
	z-index: 12;
	font-size: 12px;
	font-weight: 400;
}
.style3 .form-group.has-value .label {
	top: 0;
	z-index: 12;
	font-size: 12px;
	font-weight: 400;
}
.style3 .form-group .label {
	position: absolute;
	top: 27px;
	left: 15px;
	padding: 0 2px;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	color: rgba(255,255,255,0.7);
	font-weight: 200;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.style3 .submit{
	height: 45px;
	width: 100%;
	color: #ffffff;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #e6305d;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	display: block;
	cursor: pointer;
}
.style3 .sign-up-txt{
	text-align: center;
}
.style3 .forgot-txt{
	text-align: center;
	text-decoration: underline;
	padding-top: 10px;
}

/*==============================================================
	07. Login Style 4
==============================================================*/
.index4 .style4{
	background: url(../images/banner1.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.style4 .login-box{
	max-width: 800px;
	margin: 0 auto;
	width: 100%;
	background-position: center top;
	height: 400px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	-webkit-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	-moz-box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
	box-shadow: 0px 13px 84px 7px rgba(0, 0, 0, .30);
}
.style4 .forgot-txt{
	padding-bottom: 20px;
}
.style4 .forgot-txt a{
	color: #593f40;
	font-size: 15px;
	line-height: 15px;
	font-weight: 400;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	border-bottom: 1px dashed #000;
}
.style4 .sign-up-txt{
	color: #000000;
	font-size: 15px;
	line-height: 15px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.style4 .sign-up-txt a{
	color: #593f40;
	font-size: 15px;
	line-height: 15px;
	font-weight: 400;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	border-bottom: 1px dashed #000;
}
.style4 .style4-left{
	background: #ffffff;
}
.style4 .style4-right{
	background: rgba(60,59,55,0.8);
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	line-height: 20px;
}
.style4 .style4-right h4{
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	margin-bottom: 15px;
}
.style4 .style4-right a{
	display: inline-block;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 15px 20px;
}
.style4 .style4-right a i{
	display: inline-block;
	margin-left: 10px;
}
.style4 .label{
	text-transform: uppercase;
	margin-bottom: 5px;
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #686868;
	font-family: 'Nunito', sans-serif;
}
.style4 .form-control{
	height: 50px;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Nunito', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.style4 .form-control:focus{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(151, 115, 101, .9);
	-moz-box-shadow: 0px 0px 0px 2px rgba(151, 115, 101, .9);
	box-shadow: 0px 0px 0px 2px rgba(151, 115, 101, .9);
}
.style4 h2{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 15px;
}
.style4 .submit{
	display: inline-block;
	height: 50px;
	padding-left: 20px;
	padding-right: 40px;
	min-width: 140px;
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 0.050em;
	border: 0;
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: url(../images/arrow-right-c.svg) no-repeat #593f40;
	background-size: 23px 23px;
	background-position: center right 10px;
}

/*==============================================================
	08. Login Style 5
==============================================================*/
.index5 .style5{
	background: url(../images/banner5.jpg) no-repeat;
	background-size: cover;
}
.style5 .login-box{
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
	height: 650px;
	background: rgba(255,255,255,1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
}
.style5 h2{
	font-size: 24px;
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
	color: #000000;
	margin-bottom: 20px;
}
.style5 .style5-left{
	background: url(../images/style5img.jpg) no-repeat;
	background-size: cover;
	color: rgba(255,255,255,.7);
	font-size: 16px;
}
.style5 .style5-left h2{
	color: #ffffff;
	font-size: 30px;
	line-height: 45px;
}
.style5 .style5-left .btn{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.050em;
	padding: 0.6rem 2rem;
}
.style5 .form-group{
	position: relative;
}
.style5 .form-group .form-control {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #456efe;
	height: 52px;
	font-size: 18px;
	color: #000000;
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
	z-index: 123;
	position: relative;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0e2f62), to(#0e2f62)), -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#b3b3b3));
	background-image: -webkit-linear-gradient(#0e2f62, #0e2f62), -webkit-linear-gradient(#b3b3b3, #b3b3b3);
	background-image: -o-linear-gradient(#0e2f62, #0e2f62), -o-linear-gradient(#b3b3b3, #b3b3b3);
	background-image: linear-gradient(#0e2f62, #0e2f62), linear-gradient(#b3b3b3, #b3b3b3);
	-webkit-background-size: 0 2px, 100% 1px;
	background-size: 0 2px, 100% 1px;
	background-repeat: no-repeat;
	background-position: center bottom, center -webkit-calc(100% - 1px);
	background-position: center bottom, center calc(100% - 1px);
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: background 0s ease-out;
	-o-transition: background 0s ease-out;
	transition: background 0s ease-out;
}
.style5 .form-group.is-focus .form-control{
	outline: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#456efe), to(#456efe)), -webkit-gradient(linear, left top, left bottom, from(#456efe), to(#456efe));
	background-image: -webkit-linear-gradient(#456efe, #456efe), -webkit-linear-gradient(#456efe, #456efe);
	background-image: -o-linear-gradient(#456efe, #456efe), -o-linear-gradient(#456efe, #456efe);
	background-image: linear-gradient(#456efe, #456efe), linear-gradient(#456efe, #456efe);
	-webkit-background-size: 100% 2px, 100% 1px;
	background-size: 100% 2px, 100% 1px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.style5 .form-group.is-focus .label {
	top: 0;
	z-index: 12;
	font-size: 12px;
	font-weight: 400;
}
.style5 .form-group.has-value .label {
	top: 0;
	z-index: 12;
	font-size: 12px;
	font-weight: 400;
}
.style5 .form-group .label {
	position: absolute;
	top: 27px;
	left: 15px;
	padding: 0 2px;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
	color: #456efe;
	font-weight: 400;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.style5 .submit{
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 0;
	font-size: 0;
	cursor: pointer;
	background: url(../images/arrow-right-c.svg) no-repeat #456efe;
	background-position: center center;
	background-size: 25px 25px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, .20);
}
.style5 .forgot-txt{
	color: rgba(0,0,0,.6);
	font-size: 16px;
	padding-top: 15px;
	font-family: 'Varela Round', sans-serif;
}
.style5 .forgot-txt a{
	color: rgba(0,0,0,.6);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.style5 .forgot-txt a:hover{
	color: #456efe;
}
.style5 .sign-up-txt{
	color: rgba(0,0,0,.6);
	font-size: 16px;
	position: absolute;
	right: 20px;
	top: 20px;
}
.style5 .sign-up-txt a{
	color: #456efe;
}


/*==============================================================
	09. Login Style 6
==============================================================*/
.index6 .style6{
	background: url(../images/banner2.jpg);
	background-position: center center;
}
.style6 .login-box{
	max-width: 400px;
	margin: 0 auto;
	width: 100%;
	color: #222222;
	height: 600px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	position: relative;
	font-size: 16px;
	font-weight: 600;
}
.style6 h2{
	color: rgba(0,0,0,0.9);
	font-size: 34px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
}
.style6 a{
	display: inline-block;
	color: #222222;
}
.style6 .form-group{
	margin-bottom: 2px;
}
.style6 .label{
	color: rgba(0,0,0,0.7);
	text-align: center;
	display: block;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}
.style6 .form-control{
	height: 45px;
	background: #ffffff;
	border: 0;
	box-shadow: none;
	color: #010101;
	font-size: 15px;
	padding: 0 15px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.style6 .submit{
	height: 45px;
	width: 100%;
	color: #ffffff;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #30698a;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 600;
	display: block;
	cursor: pointer;
}
.style6 .login-with{
	padding-top: 15px;
}
.style6 .login-with h3{
	font-family: 'Raleway', sans-serif;
	color: #C6C9CF;
	font-weight: 600;
}

/*==============================================================
	10. Login Style 7
==============================================================*/
.index7 .style7{
	background: url(../images/banner7.png) no-repeat;
	background-size: cover;
}
.style7 .login-box{
	max-width: 400px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	background: rgba(255,255,255,1);
	height: 500px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .30);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .30);
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, .30);
}
.style7 .login-header{
	padding: 15px 20px;
	background: -moz-linear-gradient(2deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(76,164,251,1)), color-stop(49%, rgba(42,190,250,1)), color-stop(100%, rgba(3,224,251,1)));
	background: -webkit-linear-gradient(2deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	background: -o-linear-gradient(2deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	background: -ms-linear-gradient(2deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	background: linear-gradient(88deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca4fb', endColorstr='#03e0fb',GradientType=1 );
}
.style7 .login-slide form{
	padding-top: 140px;
	background: url(../images/style7img.png) repeat-x;
	position: center top;
}
.style7 .signup-slide form{
	padding-top: 80px;
	background: url(../images/style7img.png) repeat-x;
	position: center top;
}
.style7 .forgot-password-slide form{
	padding-top: 120px;
	background: url(../images/style7img.png) repeat-x;
	position: center top;
}
.style7 h3{
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	color: #9b5c60;
	letter-spacing: 0.020em;
	margin-bottom: 30px;
	font-family: 'Nunito', sans-serif;
}
.style7 .form-group{
	position: relative;
}
.style7 .form-control{
	height: 50px;
	padding-left: 40px;
	border: 0;
	color: #2775c9;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.style7 .forgot-password-field .form-control{
	padding-right: 70px;
}
.style7 .forgot-password-field .forgot-password-click{
	position: absolute;
	right: 10px;
	top: 15px;
	color: #4f749d;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	letter-spacing: 0.030em;
	font-weight: 600;
}
.style7 .form-control::-webkit-input-placeholder {
	opacity: 1;
	color: #4f749d;
}
.style7 .form-control::-moz-placeholder {
	opacity: 1;
	color: #4f749d;
}
.style7 .form-control:-ms-input-placeholder {
	opacity: 1;
	color: #4f749d;
}
.style7 .form-control:focus{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(92, 58, 93, .3);
	-moz-box-shadow: 0px 0px 0px 2px rgba(92, 58, 93, .3);
	box-shadow: 0px 0px 0px 2px rgba(92, 58, 93, .3);
}
.style7 .field-icon{
	position: absolute;
	font-size: 20px;
	left: 10px;
	top: 10px;
	color: #2775c9;
	text-shadow: 3px 3px 0px rgba(0, 0, 0, .2);
}
.style7 .sign-in-btn .submit{
	position: relative;
	margin: 0 auto;
	display: block;
	width: 160px;
	height: 50px;
	color: #ffffff;
	border: 0;
	letter-spacing: 0.040em;
	font-size: 16px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	-webkit-box-shadow: 3px 8px 21px rgba(92, 58, 93, .25);
	-moz-box-shadow: 3px 8px 21px rgba(92, 58, 93, .25);
	box-shadow: 3px 8px 21px rgba(92, 58, 93, .25);
	background: -moz-linear-gradient(2deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(76,164,251,1)), color-stop(49%, rgba(42,190,250,1)), color-stop(100%, rgba(3,224,251,1)));
	background: -webkit-linear-gradient(2deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	background: -o-linear-gradient(2deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	background: -ms-linear-gradient(2deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	background: linear-gradient(88deg, rgba(76,164,251,1) 0%, rgba(42,190,250,1) 49%, rgba(3,224,251,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca4fb', endColorstr='#03e0fb',GradientType=1 );
}
.style7 .sign-up-txt{
	font-family: 'Nunito', sans-serif;
	color: rgba(255,255,255,.8);
	font-size: 17px;
}
.style7 .sign-up-txt a{
	color: #ffffff;
	font-size: 18px;
	display: inline-block;
	padding-left: 6px;
	font-weight: 600;
}